.idea
atlassian-ide-plugin.xml
*.iml
target
*.versionsBackup
.DS_Store
/logs
*.log
/*/logs/
Vagrantfile
vagrant/cookbooks
vagrant/.vagrant
vagrant/Cheffile.lock
vagrant/tmp
dependency-reduced-pom.xml
temp.tar
classes
build
*.iws
newrelic/logs
